<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/image.png"
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p><img class="myimage" src="/img/image.png"</p>
        </div>
        {{>footer}}
    </body>
</html>